<h1>Gráfica de Barras</h1>
<hr>
<div class="row">
  <div class="col">
    <div style="display: block;">
      <canvas baseChart class="chart"
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>




<button class="btn btn-outline-primary btn-sm float-end" (click)="randomize()">Actualizar</button>
